.form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.list__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 400px;
}

.list__title {
  text-align: center;
}
